HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


*.ipr
*.iws
*.iml

.mvn
.idea
build
.gradle


### STS ###
.apt_generated
.classpath
.factorypath
.settings
.springBeans
.sts4-cache


###
.mvn/
.kotlin/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### ig file 
src/main/resources/application-pro.yml


## 管理端
dd_server_admin/.vscode
dd_server_admin/.husky
dd_server_admin/src/.umi-production
dd_server_admin/src/.umi

.ideaDataSources